#mysql example

development:
    adapter: mysql
    database: agile_tool_dev
    encoding: utf8
    username: agile_tool_dev
    password: scrum
    host: localhost

test:
    adapter: mysql
    database: agile_tool_test
    encoding: utf8
    username: agile_tool_test
    password: scrum
    host: localhost

production:
    adapter: mysql
    database: agile_tool_prod
    encoding: utf8
    username: agile_tool_prod
    password: scrum
    host: localhost

#sqlite example

development:
  adapter: sqlite3
  database: db/development.sqlite3
  pool: 5
  timeout: 5000

test:
  adapter: sqlite3
  database: db/test.sqlite3
  pool: 5
  timeout: 5000

production:
  adapter: sqlite3
  database: db/production.sqlite3
  pool: 5
  timeout: 5000
